*{
    padding:1rem;
    margin:1rem;
    font-size:62.5%;

}
body{
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
    color:#000;
    font-family:'Times New Roman', Times, serif;
    border:.3rem solid yellow;
}
#title{
    border:.5rem solid #00ffff;
    color:yellow;
    font-size:5.2rem;
    text-align:center;
    margin:1rem;
    padding:1rem;
     width:auto;
     width:72rem;
     position:relative;
     left:40rem;
     box-shadow: 2rem 2rem 0rem 0rem yellow,
     0rem 0rem 0rem 0rem ;

}
p{
    font-size:5rem;
    text-align:center;
    font-family:'Times New Roman', Times, serif
}
#imageTitle{
    text-align:center;
    font-size: 5rem;
}
.imageGroup{
position:relative;
left:20rem;
top:7rem;
margin:1rem;
padding:1rem;
justify-content: center;
}
#voting-chart{
    position:relative;
    left:36rem;
    top:4rem;
    padding:.5rem;
    color:#000;

}
